.ticket-card {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  padding: 20px;
  text-transform: uppercase;
}

.card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.card-header__price {
  width: 120px;
  height: 30px;
  border-radius: 4px;
  color: #2196f3;
  font-family: 'Open Sans';
}

.card-header__logo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 60px;
}

.ticket-card__content {
  display: flex;
  flex-direction: column;
  font-family: 'Open Sans';
}

.ticket-card__from-info {
  display: flex;
}

.ticket-card__to-info {
  display: flex;
}

.ticket-card__title {
  color: #a0b0b9;
}

.ticket-card__city-time,
.ticket-card__travel-time,
.ticket-card__transfers {
  flex: 1;
  padding: 0 10px;
}

.ticket-card__title,
.ticket-card__value {
  width: 150px;
  height: 20px;
  border-radius: 4px;
  margin-bottom: 10px;
  white-space: nowrap;
}

.ticket-card__value {
  width: 150px;
  height: 20px;
  border-radius: 4px;
  margin-bottom: 15px;
}
